:root {
  --golf-position: 5%;
  --golf-position-down: 95%;
}
.game {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.ball {
  position: absolute;
  z-index: 1;

  background-image: url("../Textures/Ball.png");
  background-size: cover;

  width: 20px;
  height: 20px;
  top: var(--golf-position);

  animation-name: zoom, fly, fly-black;
  animation-duration: 1.3s, 1.3s, 1.3s;
  animation-delay: 0s, 1.3s, 2.6s;
  animation-timing-function: cubic-bezier(0.7, 0.2, 0, 1),
    cubic-bezier(0.3, 0.6, 0.8, 1), ease-in;
}

@keyframes zoom {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fly {
  0% {
    top: var(--golf-position);
  }
  100% {
    top: var(--golf-position-down);
  }
}

@keyframes fly-black {
  0% {
    top: var(--golf-position-down);
  }
  100% {
    top: var(--golf-position);
  }
}

.start {
  position: absolute;
  background-image: url("../Textures/Speed.png");
  background-size: contain;
  width: 55px;
  height: 50px;
  
  top: 4%;
  
  animation-name: shine, move-away;
  animation-duration: 0.2s, 1.3s;
  animation-delay: 1.3s, 2.6s;
  animation-fill-mode: none, forwards;
  animation-timing-function: ease-in, ease-in;
  /* animation: move-away 1.3s 2.6s ease-in forwards; */
}

@keyframes move-away {
  0% {
    top: 4%;
  }
  100% {
    top: -89%;
  }
}

@keyframes shine {
  0% {
    filter: saturate(1);
  }
  50% {
    filter: saturate(0);
  }
  100% {
    filter: saturate(1);
  }
}